
body{
    margin: 0;
    padding: 10px;
    font-family: "Abel";
    color: #FBFFFE;
    background-color: #6d676e;
    min-width: 400px;
}
.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
button{
    background:#1B1B1E;
    margin: 10px 0px;
    color:#FBFFFE;
    border: none;
    font-weight: bold;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
li a{
    color: #FBFFFE;
    text-decoration: none;
}
